<div class="container text-center">
    <h1>About Us</h1>
    <p>We are DevMatch! Our company focuses on creating an exclusive community 
    for developers, entrepeneurs and investors to meet.</p>
    <p>Our mission is simple. We want to help you easily meet any developer, entrepeneur or investor from any country on the world. If you are any of those three, we excitedly welcome to join our community!</p>
</div>